* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #dfe6e9;
}
.main_header {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
}

.design {
	position: relative;
	width: 400px;

	height: 400px;
	box-shadow: 0 0 20px #636e72;
}

.design > *,
.blend > * {
	position: absolute;
	width: 400px;

	height: 400px;
}

#rotateBorder {
	border: 15px #81ecec solid;
	transform: rotate(45deg);
	box-shadow: 0 0 10px #81ecec, inset 0 0 20px #81ecec;
}

.grid {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.data_white {
	background: #fff;
}

.blend {
	mix-blend-mode: multiply;
}
img {
	object-fit: cover;
}
